<h1>Stupid Coaching</h1><br>

<div class="question">
  <h3><%= @question %></h3><br>
  <p>-You</p>
</div>
<br><br>
<div class="answer">
  <h3><%= @answers %></h3><br>
  <p>-Your coach</p>
</div><br>
<div class="again">
  <%= link_to "Ask a new question", '/ask' %>
</div>
